<div class="container position-absolute top-50 start-50 translate-middle">
  <div class="table-responsive">
    <table class="table table-bordered table-hover">
      <thead class="thead-light">
        <tr>
          <th scope="col">#</th>
          <th scope="col">Nome do cliente</th>
          <th scope="col">Tipo de Consulta</th>
          <th scope="col">Formato da consulta</th>
          <th scope="col">Horário</th>
          <th scope="col" class="text-center">Data de registo</th>
          <th scope="col" class="text-center">Data da última atualização</th>
          <th scope="col" class="text-center">Ações</th>
        </tr>
      </thead>
      <tbody>

        <% agenda.forEach((agenda)=> { %>
          <tr>
            <td scope="row">
              <%= agenda.id %>
            </td>
            <td>
              <%= agenda.nome %>
            </td>
            <td>
              <%= agenda.tipo_consulta %>
            </td>
            <td>
              <%= agenda.formato_consulta %>
            </td>
            <td>
              <%= agenda.horario %>
            </td>
            <td class="col text-center">
              <%= agenda.data_registo.toLocaleDateString() %>
            </td>
            <td class="col text-center">
              <%= agenda.data_atualizacao.toLocaleDateString() %>
            </td>
            <td class="text-center">
              <a class="edit" title="" data-toggle="tooltip" data-original-title="Editar"
                href="http://localhost:5000/agenda/<%- agenda.id %>"><i class="fas fa-pencil-alt" style="color: black"></i></a>
              <a class="delete" title="" data-toggle="tooltip" data-original-title="Apagar"
                href="http://localhost:5000/agenda/delete/<%- agenda.id %>"><i class="fas fa-trash-alt"
                  style="color: black"></i></a>
            </td>
          </tr>
          <% }); %>
      </tbody>
    </table>
  </div>
</div>